@import "components/colors";
@import "components/typography";
@import "components/nav";
@import "components/header";

@import "pages/vision";
@import "pages/equipe";
@import "pages/inscription";

@import "pages/homepage";
@import "vars";

/**
 * Common styles
 */

*{ 
  font-family: $font-family-sans-serif;
  font-size:1em;
}

html, body{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:lighten($gray, 20%);
}

h1{
  font-size:4em;
  color:$gray;
  text-align:left;
}

table{
  border-collapse: collapse;
  tr{
    padding:0;
    margin:0;
  }

  td,th{
    border:solid 1px;
    margin:0;
    padding:0;
  }
  
}

mark {
  background-color: transparent;
}


ul.logo-list{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:center;
  li{
    display: inline;
    padding: 0 .5em;
    a{
      opacity:.6;
      transition: all .2s;
      &:hover{
        text-decoration: none;
        opacity:1;
      }
    }
    img{
      display:inline;
      max-height:50px;
      width:auto;
    }
  }
}


.page.bis2fly{
  .main-content{
    text-align: center;
  }
}