
.equipe-home {

  padding-top:5vh;
  padding-bottom:10vh;

  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin:0px;
  }

  .equipe-section {
    width: 100%;
    padding: 10vh 5vw;

    p {
      margin-top: 2em;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      width: 70%;
      font-size: 1.2em;
    }

    h2 {
      font-size: 2em;
      font-weight: 700;
      width: 100%;
      padding-bottom: 0.2em;
    }

    h4 {
      margin-top: 1.2em;
      width: 100%;
    }

    ul {
      margin-top: 12vh;
      list-style: none;
      display: flex;
      text-align: center;

      li {
        width:30%;
        margin-right: 3vw;

        &:last-child {
          margin-right:0vw;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}