@import "vars";


.home .menu-container:not(.ui-scrollpoint){
  opacity:0;
  transtion: .3s all;
}

.intro-section{
  padding-top:300px;
  padding-bottom:1%;
}

.pricing-section{
  h1 + p {
    padding:3em 10%;
    em{
      font-size:1.2em;
      text-align:center;
    }
  }
}
