
.inscription-home {

  background-color:$yellow;
  padding-top:15vh;
  padding-bottom:15vh;

  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin:0px;
  }

  .inscription-section {
    width: 100%;
    padding: 8vh 12vw;
    display: flex;

    p {
      margin-top: 2em;
      margin-bottom:5em;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      width: 100%;
      font-size: 1.2em;
    }

    h2 {
      font-size: 2em;
      font-weight: 700;
      width: 100%;
      padding-bottom: 0.2em;
    }

    h4 {
      margin-top: 1.2em;
      width: 100%;
    }

    .container-text {
      float: left;
    }

    .container-form {
      width: 100%;
      float: right;
    }

    .inscription-equation {
      font-size: 2em;
    }
  
    form {
      width: 65%;
      float: right;

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFF;
        font-family: $font-family-sans-serif;
        font-weight:300;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #FFF;
        font-family: $font-family-sans-serif;
        font-weight:300;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #FFF;
        font-family: $font-family-sans-serif;
        font-weight:300;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #FFF;
        font-family: $font-family-sans-serif;
        font-weight:300;
      }

      input {
        width: 100%;
        border: none;
        background-color: $yellow;
        border-bottom: 2px solid #FFF;
        margin-bottom: 3vh;
        color: #FFF;
        padding-bottom:1em;
      }

      textarea {
        width: 100%;
        height: 15vh;
        border: 2px solid #FFF;
        background-color: $yellow;
        color: #FFF;
        resize: none;
        padding: 1vh;
        margin-bottom: 3vh;
      }
    }

    button {
      float: right;
      background-color: $yellow;
      border: 2px solid #FFF;
      padding: 1vh 2vw;
      font-family:$font-family-sans-serif;
      font-weight: 300;
      transition: all 150ms ease-in-out;

      &:hover {
        background-color:#FFF;
        color:$yellow;
      }
    }

  }
}

@media (max-width: $screen-sm-min) {
  .inscription-home {

    .inscription-section {
    display:block;
    padding: 5vh 5vw;

    .container-text{
      width:100%;
    }

    p{
      margin-top: 1em;
      margin-bottom:3em;
    }

    .inscription-equation {
      text-align: center;
    }

    form{
      float:none;
      margin: 0 auto;
      width: 80%;
      font-size:1.4em;
    }
   } 
  }
}

@media (max-width: $screen-xs-min) {
  .inscription-home {
    .inscription-section{
      form{
        width: 90%;
      }
    }
  }
}

