.vision-home {

  &.ui-scrollpoint .inner-section:before{
    transform: rotate(30deg);
  }

  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin:0px;
  }

  .vision-section {
    width: 100%;
    padding: 10vh 5vw;

    p {
      margin-top: 2em;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      width: 70%;
      font-size: 1.2em;
    }

    h2 {
      font-size: 2em;
      font-weight: 700;
      width: 100%;
      padding-bottom: 0.7em;
      border-bottom: 2px solid #FFF;
    }

    h4 {
      margin-top: 1.2em;
      width: 100%;
    }

    ul {
      padding-left: 0px;
      list-style: none;
      display: flex;

      li {
        width:30%;
        margin-right: 3vw;

        &:last-child {
          margin-right:0vw;
        }

        p {
          width: 100%;
        }
      }
    }
  }

  .container-table-vision {
    margin-top: 7em;
  }

  .inner-section{
    padding-top: 3em;
    background: $brand-gray;
    padding-bottom:4em;

    &:before {
      transition:all 1s;
      transform: rotate(10deg);
      opacity: .3;
      background:url(../images/icon-make-white.svg) 80% -120px no-repeat;
    }
   }
}

@media (max-width: $screen-sm-min) {

  .vision-home {
    .vision-section {
    
      ul{
        display:block;
        li{
          width:100%;
          margin-bottom: 10vh;
        }
      }
      p {
        width: 100%;
      }
    }
  }
}