{% extends "views/master.html" %}

{% block body %}
<body ng-app="reseau_freelance" class="home" id="acceuil">
  <nav>
    <div class="container-logo">
      <p class="logo"> <mark class="color-brand-grey">Réseau</mark>Freelance</p>
      <ul>
        <a href="#acceuil" nav-to="#acceuil" class="hvr-underline-from-left"><li>{{= ui.menu.home.label }}</li></a>
        <a href="#vision" nav-to="#vision" class="hvr-underline-from-left"><li>{{= ui.menu.vision.label }}</li></a>
        <a href="#equipe" nav-to="#equipe" class="hvr-underline-from-left"><li>{{= ui.menu.equipe.label }}</li></a>
        <a href="#inscription" nav-to="#inscription" class="hvr-underline-from-left"><li>{{= ui.menu.inscription.label }}</li></a>
      </ul>
    </div>
  </nav>
  <header class="main-header" >
    <div class="content-header">
      <div class="container-text-header">
        <h1 class="steps">{{= ui.header.introHeader }}</h1>
        <h3 class="steps">{{= ui.header.smallIntroHeader }}</h3>
        <a href="#inscription" class="ctaText hvr-underline-from-left steps" nav-to="#inscription">{{= ui.header.ctaHeader }}<svg class="svgArrow"><path d="M.7 9H36M29 17.8L36 9 29 .6" class="ctaArrow"/></svg></a>
      </div>
    </div>
  </header>

  <section id="vision" class="main-content">
    <article id="vision" class="vision-home invert" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
           {% include "views/vision.html" %}
        </div>
      </div>
    </article>
    
    <article id="equipe" class="equipe-home" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
            {% include "views/equipe.html" %}
        </div>
      </div>
    </article>

    <article id="inscription" class="inscription-home invert" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
            {% include "views/inscription.html" %}
        </div>
      </div>
    </article>

  </section>
</body>
{% endblock %}