{% extends "views/master.html" %}

{% block body %}
<body ng-app="reseau_freelance" class="home" id="acceuil">
  <nav>
    <div class="container-logo">
      <p class="logo"> <mark class="color-brand-grey">Réseau</mark>Freelance</p>
      <ul>
        <a href="#acceuil" nav-to="#acceuil"><li>{{= ui.menu.home.label }}</li></a>
        <a href="#vision" nav-to="#vision"><li>{{= ui.menu.vision.label }}</li></a>
        <a href="#equipe" nav-to="#equipe"><li>{{= ui.menu.equipe.label }}</li></a>
        <a href="#inscription" nav-to="#inscription"><li>{{= ui.menu.inscription.label }}</li></a>
      </ul>
    </div>
  </nav>
  <header class="main-header reveal" >
    <div class="content-header">
      <div class="container-text-header">
        <h1>{{= ui.header.introHeader }}</h1>
        <h3>{{= ui.header.smallIntroHeader }}</h3>
        <a href="index.html" nav-to="#inscription"><button>{{= ui.header.ctaHeader }} </button></a>
      </div>
    </div>
  </header>

  <section id="vision" class="main-content">
    <article id="vision" class="vision-home invert" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
           {% include "views/vision.html" %}
        </div>
      </div>
    </article>
    
    <article id="equipe" class="equipe-home" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
            {% include "views/equipe.html" %}
        </div>
      </div>
    </article>

    <article id="inscription" class="inscription-home invert" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
            {% include "views/inscription.html" %}
        </div>
      </div>
    </article>

  </section>
</body>
{% endblock %}