{% extends "views/master.html" %}

{% block body %}
<body ng-app="mutualab.org" class="home" chat-container>
  <nav>
    <div class="container-logo">
      <p class="logo"> <mark class="color-brand-grey">Réseau</mark>Freelance</p>
      <ul>
        <a href="index.html" nav-to="#acceuil"><li>{{= ui.menu.home.label }}</li></a>
        <a href="index.html" nav-to="#vision"><li>{{= ui.menu.vision.label }}</li></a>
        <a href="index.html" nav-to="#equipe"><li>{{= ui.menu.equipe.label }}</li></a>
        <a href="index.html" nav-to="#inscription"><li>{{= ui.menu.inscription.label }}</li></a>
      </ul>
    </div>
  </nav>
  <header class="main-header" >
    <div class="content-header">
      <div class="container-text-header">
        <h1>{{= ui.header.introHeader }}</h1>
        <h3>{{= ui.header.smallIntroHeader }}</h3>
        <button>{{= ui.header.ctaHeader }}</button>
      </div>
    </div>
  </header>



  <section id="vision" class="main-content">
    <article id="summary" class="summary-home invert" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
           {% include "views/summary.html" %}
        </div>
      </div>
    </article>
    

   
    <article id="equipe" class="equipe-home view-section" ui-scrollpoint>
      <div class="inner-section">
        <div class="container">
            {% include "views/equipe.html" %}
        </div>
      </div>
    </article>

  </section>
</body>
{% endblock %}