<div class="equipe-section">
    <h1 class="color-yellow">{{= equipe.title }}</h1>
    <p class="equipe-content">{{= equipe.intro }}</p>
    <div class="container-table-equipe">
        <ul>
            <li>
                <div class="container-content-table">
                    <img src="{{= equipe.table.p1.imgurl }}"/>
                    <h2 class="color-yellow">{{= equipe.table.p1.name }}</h2>
                    <h4>{{= equipe.table.p1.jobtitle }}</h4>
                    <p>{{= equipe.table.p1.desc }}</p>
                </div>
            </li>
            <li>
                <div class="container-content-table">
                    <img src="{{= equipe.table.p2.imgurl }}"/>
                    <h2 class="color-yellow">{{= equipe.table.p2.name }}</h2>
                    <h4>{{= equipe.table.p2.jobtitle }}</h4>
                    <p>{{= equipe.table.p2.desc }}</p>
                </div>
            </li>
            <li>
                <div class="container-content-table">
                    <img src="{{= equipe.table.p3.imgurl }}"/>
                    <h2 class="color-yellow">{{= equipe.table.p3.name }}</h2>
                    <h4>{{= equipe.table.p3.jobtitle }}</h4>
                    <p>{{= equipe.table.p3.desc }}</p>
                </div>
            </li>
        </ul>
    </div>
  </div>