<div class="vision-section">
    <h1>{{= ui.menu.vision.label }}</h1>
    <p class="vision-content">{{= vision.intro }}</p>
    <div class="container-table-vision">
        <ul>
            <li>
                <div class="container-content-table">
                    <h2>{{= vision.table.formation.title }}</h2>
                    <h4>{{= vision.table.formation.subtitle }}</h4>
                    <p>{{= vision.table.formation.desc }}</p>
                </div>
            </li>
            <li>
                <div class="container-content-table">
                    <h2>{{= vision.table.affaire.title }}</h2>
                    <h4>{{= vision.table.affaire.subtitle }}</h4>
                    <p>{{= vision.table.affaire.desc }}</p>
                </div>
            </li>
            <li>
                <div class="container-content-table">
                    <h2>{{= vision.table.avantage.title }}</h2>
                    <h4>{{= vision.table.avantage.subtitle }}</h4>
                    <p>{{= vision.table.avantage.desc }}</p>
                </div>
            </li>
        </ul>
    </div>
  </div>