@import "../vars";

/**
 * Header on home page
 */

header.main-header {
  &{
    position:relative;
    overflow: hidden;
    width: 100%;
    padding:10% 0;
  }

  .content-header{
    width:100%;
    background-color: rgba(255,255,255,255);
    padding:40px 0; 
  }

  .container-text-header {
    width: 70%;
    padding: 5vh 5vw;
    float:left;
  }

  .background-header{
    top:-1%;
    left:-1%;
    height: 102%;
    width:102%;
    position:absolute;
    background:lighten($gray,10%);
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
    transition:opacity .5s;

    &.bg-anim{
      z-index:-2;
    }

    &.fadeOut{
      opacity:0;
    }
    //filter:blur(2px);
  }

  .author-infos{
    &{
      position: absolute;
      bottom:10px;
      right:50px;
      color:#fff;
    }

    span{
      display: inline-block;
      margin-top: .3em;
    }

    img{

      display: block;
      float:left;
      border-radius: 50%;
      margin-right:10px;
      width:30px;
    }
  }

  img.logo{
    width : 40%;
    margin:0 auto;
    display: block;
    @media(max-width: 760px){
      width : 90%;
    }

    @media(min-width: $screen-lg-min){
      width : 30%;
    }

  }
  h1{
    text-align: left;
    color:#444;
    color:$yellow;
  }
  
  h3 {
    color: $brand-gray;
  }

  button {
    margin-top: 1.5em;
    border: 2px solid $brand-gray;
    background-color: #FFF;
    padding: 15px 30px;
    color: $brand-gray;
    font-weight: 400;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: #000;
      color: #FFF;
      border: 2px solid #000;
    }
  }

}


header.page-header{
  &{
    position:relative;
    overflow: hidden;
    padding: 0; 
    margin:0;
  }
  .content-header{
    display:block;
    margin:2% 0;
    padding:2% 0;
    background-color:rgba(#fff,.5);

  }
  a:hover{
    text-decoration:none;
    color:inherit;
  }

  img.logo{
    width : 45%;
    margin:0 auto;
    display: block;
    @media(max-width: 760px){
      width : 90%;
    }

  }
  h1{
    text-align: center;
    color:#444;
    color:$gray;
  }

  img,h1{
    z-index:10;
    opacity:.95;
  }
}

@media (max-width: $screen-sm-min) {

  header.main-header {
    .container-text-header{
      width: 90%;
    }
  }

}

@media (max-width: $screen-xs-min) {

  header.main-header {
    h1 {
      font-size:2.5em;
    }
    .container-text-header{
      width: 100%;
    }
  }
  
}


