@import "../vars";
/**
* Nav menu 
*/

nav {
  padding: 3vh 5vw 2vh 5vw;
  background-color: #FFF;
  position: fixed;
  width: 100%;

  .logo {
    font-family: $font-family-sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: $blue;
    display:inline;
  }

  ul {
    float: right;
    list-style: none;

    li {
      display: inline;
      margin-right: 2vw;
      color: $blue;
    }
  }

  a {
    text-decoration: none;
  }
}