@import "../vars";
/**
* Nav menu 
*/

nav {
  padding: 5vh 15vw 2vh 15vw;
  width: 100%;

  .logo {
    font-family: $font-family-sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: $red;
    display:inline;
  }

  ul {
    float: right;
    list-style: none;

    li {
      display: inline;
    }
  }

  a {
    font-family: $font-family-sans-serif;
    text-decoration: none;
    color: $brand-gray;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1vh 2vw;
    transition: all 50ms ease-in-out;

    &:hover {
      text-decoration: none;
      color:$red;
    }
  }
}

/* Underline From Left // HOVER EFFECT */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $red;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

@media (max-width: $screen-sm-min) {

  nav {
    display:flex;
    .logo_svg{
      width:90%;
    }
    .container-logo{
      margin: 0 auto;
    }
    ul{
      display:none;
    }
  }
}

@media (max-width: $screen-xs-min) {
  nav {
    padding: 5vh 5vw 2vh 5vw;
  }
}
