@import "vars";

.text-center{
  text-align:center;
  ul {
    text-align:left;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family:$font-family-sans-serif;
}


h1{
  font-size:2em;
  font-weight: 700;
}

h2{
  font-size:1.7em;
}

h3{
  font-size:1.5em;
  font-weight:400;
}

h4{
  font-size:1.3em;
}

h5{
  font-size:1em;
}

h6{
  font-size:.8em;
}


.invert{
  &, h1{
     color:#fff;
  }

  a{
    color:rgba(#fff,.8);
  }
}

.small-paragraph{
  font-size:.4em;
  line-height: 1em;
}

